[add.interactive]
  useBuiltin = false # required for git 2.37.0

## Aliases are command shortcuts
[alias]
  rb  = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -20
  rbr = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/remotes/ | head -20
  cof = !git checkout $(git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -21 | fzf)

  # for doing local code reviews
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  heatmap = git-heatmap
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\") -- :^vendor
  review = !nvim -p $(git files) +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branc
  #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all

  # lg is now a shortcut for a pretty log with short commit messages
  # See the log manpage: https://www.kernel.org/pub/software/scm/git/docs/git-log.html
  # for explanations of what these options do
  lg = log \
    --graph \
    --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
    --abbrev-commit \
    --date=relative

  # Shorthand for commit, also enforces diff display in editor before commit
  ci = commit --verbose

  # Edit the last commit
  amend= commit --verbose --amend

[branch]
	sort = -committerdate

[column]
  ui = auto

[commit]
  verbose = true

[core]
  # Excludesfiles allows us to set a global list of things to ignore
  excludesfile = ~/.gitignore_global

  # Sets up Neovim as the editor
  editor = nvim
  pager = delta

[credential]
	helper = cache --timeout=3600

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true
  syntax-theme = "everforest-soft"

[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	algorithm = histogram

[fetch]
  prune = true
  pruneTags = true
  all = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[grep]
  linenumber = true

[help]
  autocorrect = prompt

[init]
	defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[pull]
  rebase = true

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[submodule]
  recursive = true

[user]
    name = jm96441n
    email = john@jmaguire.tech

[includeIf "gitdir:~/hashi/"]
    path = ~/.dotfiles/git/hashi/.gitconfig

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
