[core]
  # Excludesfiles allows us to set a global list of things to ignore
  excludesfile = ~/.gitignore_global

  # Sets up Neovim as the editor
  editor = nvim
  pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    side-by-side = true
    syntax-theme = "Forest Night"

## Aliases are command shortcuts
[alias]
  rb  = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -20
  rbr = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/remotes/ | head -20
  cof = !git checkout $(git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -20 | fzf)

  # for doing local code reviews
  stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
  heatmap = git-heatmap
  files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
  review = !nvim -p $(git files) +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

  # Fancy logging.
  #   h = head
  #   hp = head with patch
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branc
  #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all

  # lg is now a shortcut for a pretty log with short commit messages
  # See the log manpage: https://www.kernel.org/pub/software/scm/git/docs/git-log.html
  # for explanations of what these options do
  lg = log \
    --graph \
    --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
    --abbrev-commit \
    --date=relative

  # Shorthand for commit, also enforces diff display in editor before commit
  ci = commit --verbose

  # Edit the last commit
  amend= commit --verbose --amend
[push]
    default = current
[pull]
    rebase = true
[fetch]
    prune = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[user]
    name = jm96441n
    email = john@johnmaguirdeveloper.com
[includeIf "gitdir:~/cbi/"]
    path = ~/.dotfiles/git/work/.gitconfig
[includeIf "gitdir:/home/john.maguire/"]
    path = ~/.dotfiles/git/work/.gitconfig
[includeIf "gitdir:$HOME/.dotfiles"]
    path = ~/.dotfiles/git/personal/.gitconfig
[includeIf "gitdir:$HOME/AdventOfCode"]
    path = ~/.dotfiles/git/personal/.gitconfig
[includeIf "gitdir:$HOME/omscs"]
    path = ~/.dotfiles/git/omscs/.gitconfig
[grep]
  linenumber = true
[url "ssh://git@gitlab.cbinsights.com/"]
  insteadOf = https://gitlab.cbinsights.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
