/** Configured For Applets **/

configuration {
  modi: "window,drun,combi,search:~/.config/rofi/launchers-git/web-search.sh";
  show-icons:         true;
  icon-theme:         "Newatita";
  location: 0;
  yoffset: 50;
  xoffset: 20;
}
