/** Configured For Applets **/

configuration {
  modi: "github:~/.config/rofi/launchers-git/github.sh,drun,window";

  show-icons:         true;
  icon-theme:         "Newatita";
  location: 0;
  yoffset: 50;
  xoffset: 20;
  cycle: true;
  sidebar-mode: true;
}
