/** Configured For Applets **/

configuration {
  modi: "window,run,drun,ssh,file-browser";
  show-icons:         true;
  icon-theme:         "Newatita";
  location: 0;
  yoffset: 50;
  xoffset: 20;
}
