#:schema https://jj-vcs.github.io/jj/latest/config-schema.json
[user]
name = "John Maguire"
email = "john@jmaguire.tech"

[ui]
paginate = "never"
editor = "nvim"

[[--scope]]
--when.repositories = ["~/hashi"]
[--scope.user]
  email = "john.maguire@hashicorp.com"

[remotes.origin]
auto-track-bookmarks = "*"

[git]
track-default-bookmark-on-clone = false

[template-aliases]
commit_description_verbose = '''
concat(
  description,
  "\n",
  "JJ: This commit contains the following changes:\n",
  indent("JJ:    ", diff.stat(72)),
  "JJ: ignore-rest\n",
  diff.git(),
)
'''

[aliases]
dv = ["--config=templates.draft_commit_description=commit_description_verbose", "describe"]
cv = ["--config=templates.draft_commit_description=commit_description_verbose", "commit"]

[merge-tools.nvim]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true
